.bg-line {
  display: none;
}

.offset-top {
  margin-top: 73px !important;
}

.main {
  max-width: 1400px;
  margin: auto;
}

.nav {
  margin: 0px 1vw;
}
.nav > nav ul {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;
}
.nav > nav ul a {
  align-self: center;
}
.nav > nav ul li {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}
.nav > nav ul li:nth-child(1) {
  justify-content: start;
  flex: 1 0 auto;
}
.nav > nav ul li:nth-child(2) {
  display: flex;
  flex: 5 0 auto;
}
.nav > nav ul li:nth-child(2) > a:not(:nth-last-child(1)) {
  margin-right: 5px;
}
.nav > nav ul li:nth-child(3) {
  flex: 1 0 auto;
  flex-direction: column;
  list-style-type: none;
  align-items: start;
}
.nav > nav ul li:nth-child(4) {
  flex: 1 0 auto;
  flex-direction: column;
  list-style-type: none;
  align-items: start;
}
.nav > nav ul li a {
  display: flex;
  flex-direction: column;
}
.nav > nav ul li a.nav-links {
  display: inline;
}
.nav > nav ul li a.logo img {
  height: 100px;
  display: block;
}

.header {
  padding: 189px 0;
  background: linear-gradient(#112c61bd, #112C61db), url("/public/img/header_bg.jpg") center/cover no-repeat scroll padding-box;
}
.header > .custom-row {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px !important;
}
.header > .custom-row > * {
  max-width: 720px;
  width: 100%;
}
.header-title {
  color: white;
}
.header-text {
  color: white;
}
.header-button-red {
  display: inline-flex;
  width: unset;
  color: white;
  background-color: red;
  padding: 13px 61px;
}
.header-button-red:hover {
  color: yellow;
}
.header > * {
  width: 65%;
}

.products > .custom-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}
.products > .custom-row > * {
  display: flex;
  flex-flow: row wrap;
}
.products > .custom-row .products-image {
  flex: 1 1 500px;
}
.products > .custom-row .products-image img {
  display: flex;
  max-width: 100%;
  width: 100%;
  align-self: strench;
}
.products > .custom-row .products-text-container {
  flex: 1 1 400px;
  margin: 10px 0 0 0px;
  align-items: flex-start;
  justify-content: space-around;
  display: flex;
}
.products > .custom-row .products-text-container > * {
  margin: 8px 0;
}
@media screen and (min-width: 1100px) {
  .products > .custom-row .products-text-container {
    margin: 0 0 0 16px;
  }
}
.products > .custom-row .products-text-container .products-text-container-button {
  margin-right: auto;
}
.products > .custom-row .products-text-container .products-text-container-button > a {
  display: block;
  color: white;
  background-color: red;
  padding: 13px 61px;
}
.products > .custom-row .products-text-container .products-text-container-button > a:hover {
  color: yellow;
}
.products > .custom-row .products-offer-text {
  align-self: center;
  justify-content: center;
}
.products > .custom-row .products-offer-text .products-offer-icons {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 960px) {
  .products > .custom-row .products-offer-text .products-offer-icons {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
  }
}
.products > .custom-row .products-offer-text .products-offer-icons .products-offer-icon {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 2%;
}
.products > .custom-row .products-offer-text .products-offer-icons .products-offer-icon .products-offer-icon-img-container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  height: 80px !important;
  justify-content: center;
  align-items: center;
}
.products > .custom-row .products-offer-text .products-offer-icons .products-offer-icon .products-offer-icon-img-container img {
  display: block;
  max-height: 100%;
  margin: auto;
}
.products > .custom-row .products-offer-text .products-offer-icons .products-offer-icon .products-offer-icon-text-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}
.products > .custom-row .products-offer-text .products-offer-icons .products-offer-icon .products-offer-icon-text-container span {
  display: flex;
  width: 100%;
  justify-content: center;
}

.catalog h2 {
  margin-bottom: 1.2rem;
}
.catalog > .custom-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}
.catalog > .custom-row > * {
  display: flex;
  flex: 1 1 300px;
  padding: 10px;
}
.catalog-images {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 0 1 150px;
  margin: -15px;
}
@media (min-width: 1200px) {
  .catalog-images {
    flex-flow: row;
  }
}
.catalog-image {
  align-items: baseline;
  margin: 15px;
}
.catalog img {
  display: flex;
  width: 100%;
}
.catalog .catalog-text {
  flex-flow: column;
  align-self: center;
}
.catalog .catalog-text-button {
  align-self: flex-start;
  color: white;
  background-color: red;
  padding: 13px 61px;
}
.catalog .catalog-text-button:hover {
  color: yellow;
}

.about {
  overflow: hidden;
}
.about .custom-row h2 {
  margin-bottom: 2rem;
}
.about .custom-row .about-grid {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}
.about .custom-row .about-grid > * {
  display: flex;
  flex-direction: column;
}
.about .custom-row .about-grid > * img {
  align-self: center;
  display: flex;
  height: 140px;
  max-width: 178px;
  margin-bottom: 20px;
}
.footer {
  background: #112c61bd;
  color: white;
}
.footer * {
  transition: 0.7s;
}
.footer p {
  margin-bottom: 0;
}
.footer-container {
  padding: 73px;
  max-width: 1200px;
  margin: auto;
}
.footer-container-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1rem 0px;
  margin-top: -0.6rem;
  margin-bottom: -0.6rem;
}
.footer-container-form > * {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
.footer-container-form input {
  transition: 0.2s;
  display: flex;
  width: 100%;
  max-width: 600px;
  background: transparent;
  border: 1px solid white;
  padding: 10px;
  color: inherit;
}
.footer-container-form input:focus {
  font-weight: bold;
  border: 1px solid white;
  outline: none;
}
.footer-container-form input::placeholder {
  color: white;
}
.footer-container-form button {
  display: flex;
  background: white !important;
  color: black !important;
  border: none;
  border-radius: 3px 3px;
  padding: 10px 37px;
}
.footer-container-form button:focus {
  outline: none;
}
.footer-container-form button:hover {
  opacity: 0.7;
}

.footer-advanced {
  background: #1e3052;
  color: white;
}
.footer-advanced ul {
  padding: 0;
  list-style-type: none;
}
.footer-advanced-container {
  padding: 35px 0px 20px 0;
  max-width: 1200px;
  margin: auto;
}
.footer-advanced-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px -16px;
}
.footer-advanced-container ul li {
  display: flex;
  flex-flow: column;
  margin: 0 16px;
}
.footer-advanced-container ul li a {
  color: white;
}

html {
  height: 6000px;
}

/*# sourceMappingURL=main.css.map */
