<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Landing</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="/public/css/fonts.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <style>
    :root{
      --font-family-sans-serif: 
      "Montserrat Alternates'!important"
    }

  </style>
</head>

<body class="position-relative">
  <!-- nav -->
  <div class="nav">
    <nav class="w-100">
      <ul>
        <li>
          <a class="logo" href="/"><img src="/public/img/logo.svg" alt="" alt="logo"></a>
        </li>
        <li>
          <!-- <a class="nav-links" href="">Навигация</a>
          <a class="nav-links" href="">Навигация</a>
          <a class="nav-links" href="">Навигация</a>
          <a class="nav-links" href="">Навигация</a> -->
        </li>
        <li>
          <!-- <a class="nav-phone nav-phone-blue" href="/">  8912391239
            <br><span>Бесплатно по России</span>
            </a> -->
        </li>
        <li>
          <a class="nav-phone nav-phone-red" href="/">8 (495) 673-70-33<br>
            <span></span>
          </a>
        </li>

      </ul>
    </nav>
  </div>

  <!-- header -->
  <div class="header">

    <div class="custom-row">
      <h1 class="header-title">
        Envelopes and bags production and sale on favorable terms
      </h1>
      <p class="header-text">
        The «PakPost» group specializes in the production of packages, bags and envelopes. We offer favorable purchasing
        conditions and a variety of additional services for the customers.
      </p>
      <div>
        <a class="header-button-red" href="">Our products</a>
      </div>
    </div>
  </div>

  <div class="main">


  <div class="products position-relative">
    <svg class="bg-line bg-line-left" xmlns="http://www.w3.org/2000/svg" width="100vw" height="100vh"
      viewBox="0 0 2139.705 2139.705" style="
      position: absolute;
      right: 30%;
      top: -45%;
      z-index: -1;">
      <rect id="Прямоугольник_50" data-name="Прямоугольник 50" width="83" height="2943"
        transform="translate(2081.015) rotate(45)" fill="#112c61" opacity="0.4" />
    </svg>

    <div class="custom-row offset-top">
      <div class="products-image">
        <img src="/public/img/s5.jpg" alt="">
      </div>
      <div class="products-text-container">
        <h2 class="products-text-container-header">Our products</h2>
        <p class="products-text-container-description">
          We have more than 20 years of experience in the field of envelope production. We are the largest supplier of
          these products in Russia. Our company can offer a wide and diverse range of products. We accept orders for
          the
          production of custom packages, bags and envelopes.
        </p>
        <div class="products-text-container-button">
          <a href>Prices</a>
        </div>
      </div>
    </div>
    <div class="custom-row offset-top">
      <div class="products-offer-text text-center">
        <p>
          The company works only with reliable suppliers of best raw materials, which allows us to produce various
          models
          of mail envelopes and packages of the highest quality. Thanks to a well-thought logistics system, all
          finished
          products are shipping to any part of the world.
        </p>
        <p>
          Envelopes sales is based on customer requests. We offer products for:
        </p>
        <div class="products-offer-icons">
          <a href="" class="products-offer-icon">
            <div class="products-offer-icon-img-container">
              <img src="/public/img/icons/gallery.svg" alt="some icon">
            </div>
            <div class="products-offer-icon-text-container">
              <span>Letters and &nbsp;</span><span> correspondence</span>
            </div>
          </a>
          <a href="" class="products-offer-icon">
            <div class="products-offer-icon-img-container">
              <img src="/public/img/icons/Icons.svg" alt="some icon">
            </div>
            <div class="products-offer-icon-text-container">
              <span>CDs/DVDs</span>
            </div>
          </a>
          <a href="" class="products-offer-icon">
            <div class="products-offer-icon-img-container">
              <img src="/public/img/icons/mail.svg" alt="some icon">
            </div>
            <div class="products-offer-icon-text-container">
              <span>Photo cards&nbsp;</span><span>and postcards</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="catalog offset-top">
    <div class="custom-row">
      <h2 class="text-center d-block ">Catalog and price</h2>
    </div>
    <div class="custom-row">
      <div class="catalog-images">
        <a class="catalog-image">
          <img src="/public/img/photocatalog.jpg" alt="">
        </a>
        <a class="catalog-image">
          <img src="/public/img/photocatalog.jpg" alt="">
        </a>
      </div>
      <div class="catalog-text">
        <h2 class="catalog-text-header">
          We are waiting for You!
        </h2>
        <p class="catalog-text-description">
          Group of companies «PakPost» («ПакПост» ) has affordable
          prices, short target dates, individual approach and high-quality products.
        </p>
        <a class="catalog-text-button" href="">Download PDF</a>
      </div>
    </div>

  </div>
  <div class="about position-relative offset-top">
    <div class="custom-row text-center">
      <h2 >We are trusted</h2>
      <div class="about-grid">
        <div class="about-cell">
          <img src="/public/img/icons/discount.svg" alt="">
          <p>
            Cumulative system of discounts, special offers for wholesalers and dealers.
          </p>
        </div>

        <div class="about-cell">
          <img src="/public/img/icons/clock.svg" alt="">
          <p>
            Short terms of production and shipment.
          </p>
        </div>

        <div class="about-cell">
          <img src="/public/img/icons/quality.svg" alt="">
          <p>
            We make products in any print run, accept orders of increasing complexity.
          </p>
        </div>
        <div class="about-cell">
          <img src="/public/img/icons/infinity.svg" alt="">
          <p>
            A wide range of envelopes of any format are always in stock.
          </p>
        </div>
        <div class="about-cell">
          <img src="/public/img/icons/box.svg" alt="">
          <p>
            Fast shipping
          </p>
        </div>
        <div class="about-cell">
          <img src="/public/img/icons/paint-palette.svg" alt="">
          <p>
            Custom printing and envelope services
          </p>
        </div>
      </div>
      <svg class="bg-line bg-line-right" xmlns="http://www.w3.org/2000/svg" width="100vw" height="100vh"
        viewBox="0 0 2139.705 2139.705" style="
      position: absolute;
      right: -40vw;
      top: -50%;
      z-index: -1;
      overflow: hidden;">
        <rect id="Прямоугольник_50" data-name="Прямоугольник 50" width="83" height="2943"
          transform="translate(2081.015) rotate(45)" fill="#112c61" opacity="0.4" />
      </svg>
    </div>
  </div>


</div>
<!-- <div class="footer">
  <div class="custom-row offset-top">
    <div class="footer-header text-center">
      <h2>Contact us</h2>
    </div>
    <div class="footer-contacts">
      <a href="tel:+">31231231313</a>
      <a href="mailto:">asada@msdafjdsf.com</a>
      <a>Факс</a>
      <a href="/" target="_blank" rel="noopener noreferrer">Адрес?</a>
    </div>
    <div class="footer-nav">
      <a href="" class="footer-nav-links">Навигация</a>
      <a href="" class="footer-nav-links">Навигация</a>
      <a href="" class="footer-nav-links">Навигация</a>
      <a href="" class="footer-nav-links">Навигация</a>
      <a href="" class="footer-nav-links">Навигация</a>
      <a href="" class="footer-nav-button">Catalog PDF</a>
    </div>
    <div class="footer-contact-form">
      <p>Также вы можете оставить заявку на обратный звонок</p>
      <form action="" method="post">
        <input type="text" name="name" placeholder="name" id="" required>
        <input type="email" name="email" placeholder="email" id="" required>
        <span><input type="checkbox" name="" id="" required value="123">Согласие на обработку персональных
          данных</span>
        <button class="footer-contact-button" type="submit">Send</button>
      </form>
    </div>
  </div>
</div> -->

<div class="footer">
  <div class="footer-container">
    <h2 class="text-center">Contact us</h2>
    <p class="text-center">Have any queries? Get in touch today.</p>
    <div class="footer-container-form">
      <input type="text" name="" id="" placeholder="Your name">
      <input type="text" name="" id="" placeholder="Your email">
      <button type="submit">Get in touch</button>
    </div>
  </div>
</div>

<div class="footer-advanced">
  <div class="footer-advanced-container">
    <ul>
      <li>
        <p>Email</p>
        <a href="mailto:">sales@packpost.ru</a>
      </li>
      <!-- <li>
        <p>Fax</p>
        <p></p>
      </li> -->
      <li>
        <p>Phone</p>
        <a href="tel:+">8 (495) 673-70-33</a>
      </li>
      <li>
        <p>Address</p>
        <p>109202, Moscow,<br> 1st Frezernaya St., 2/1</p>
      </li>
    </ul>
  </div>
</div>




  <!-- debug -->
  <script>const debug = 0;</script>
  <div id="debug" class="position-fixed" style="
    padding: 5px; 
    right: 5px; 
    border: 1px solid red; 
    top: 0; 
    background-color: white;">
    <script>
      if (debug === 1) {
        printWindowInfo();
        window.addEventListener("resize", printWindowInfo);
      }
      else {
        document.querySelector("#debug").remove()
      }
      function printWindowInfo() {
        document.querySelector("#debug").innerHTML = (`
        Ширина w = ${window.screen.width}\tДлина\t${window.screen.height}<br>
        Окно   w = ${window.innerWidth}\t h = ${window.innerHeight}
      `)
      }
    </script>
  </div>

</body>

</html>